<!DOCTYPE html>
<html lang="en">
    
<app-header></app-header>

<head>
  <title>Badge Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<br>
<br>
<br>
  <div class="container">
    <div>
      <img src="../../assets/badgeformheader.png" class="img-fluid" alt="CityPlace and Redico Logos">
    </div>
    <h2>Access Card Request Form</h2>
    <form action="/action_page.php">
      <div>
        <p>The access card allows cardholder access to the CityPlace buildings through the front entrance door,
          between 6:00pm and 7:00am Monday through Friday and any time on weekends or holidays. The building is
          unlocked between 7:00 a.m. and 6:00 p.m. Monday through Friday and 8:00 a.m. to 12:00 p.m. on
          Saturday.
        </p>
        <p>Use of this access card is solely for the undersigned. Allowing other persons access to the buildings
          and/or Fitness Center with this access card is strictly prohibited and will result in revocation of
          same.</p>
        <p>In an effort to provide the best service, the following categories are set up to be utilized with the
          access card. Please fill in the company name, suite number, employee's name.
      </div>
      <h3>Tenant Company Name: <u>Daugherty Systems</u></h3>
        <h3>Building:<u>3</u></h3>
        <h3>Suite:<u>300/400</u></h3>
        <br>
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname">
      </div>
      <div class="form-group">
        <label for="pwd">Business E-mail:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="vehicleColor">Vehicle Color</label>
        <input type="text" class="form-control" id="vehicleColor" name="vehicleColor">
      </div>
      <div class="form-group">
        <label for="vehicleMake">Make of Vehicle</label>
        <input type="text" class="form-control" id="vehicleMake" name="vehicleMake">
      </div>
      <div class="form-group">
        <label for="vehicleModel">Model of Vehicle</label>
        <input type="text" class="form-control" id="vehicleModel" name="vehicleModel">
      </div>
      <div class="form-group">
        <label for="licensePlate">License Plate</label>
        <input type="text" class="form-control" id="licensePlate" name="licensePlate">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button><button type="print" class="btn btn-secondary" onclick="window.print();return false;"> Print </button>
      </div>
    </form>
   
<br>
<br>
<br>


