<div class="home" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="column">

    
          <div fxLayout="row">
                  <h3>[SearchBar]</h3>
          <div>
            <table>
              <ng-container>
                <tr>
                    <th> Employee Number</th> <th> First Name</th><th> Last Name</th><th> Email</th><th> Phone</th><th> Date of Birth</th><th> Status</th>
                </tr>
                <tr>
                    <td>12345</td> <td> Joe </td><td> Smith </td><td> joe.smith@gmail.com </td><td> 314-867-5309 </td><td> 01-01-1901 </td><td> COMPLETE </td>
                </tr>
            </ng-container>
            </table>
            </div>
        
        </div>
      </div>
   
</div>
</div>
