<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

<app-header></app-header>

<div class="home" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="column">

        <div style="padding: 30px;">    


          <h5>Sort</h5>
            <form class="form-inline">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Most Recent</a>
                  <a class="dropdown-item">First Name</a>
                  <a class="dropdown-item">Last Name</a>
                  <a class="dropdown-item">Recruiter</a>
                  <a class="dropdown-item">LOS/Title/Roll</a>
                  <a class="dropdown-item">Status</a>

                </div>
              </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Detail Page</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-h idden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>[INSERT TOPICAL INFO HERE]</h4>
                        <p>Joe Smith joe.smith@gmail.com 314-867-5309</p>
                        <p>8/8 Documents complete</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add New Hire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-h idden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                            Employee Number:<br>
                            <input type="text" name="emplnumber"><br>
                            First name:<br>
                            <input type="text" name="firstname"><br>
                            Last name:<br>
                            <input type="text" name="lastname"><br>
                            Email:<br>
                            <input type="email" name="email"><br>
                            Phone:<br>
                            <input type="tel" name="phone"><br>
                            Date of Birth:<br>
                            <input type="date" name="birthdate"><br>
                            Status:<br>
                            <input type="checkbox" name="status">
                            Complete
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add New</button>
                      </div>
                    </div>
                  </div>
                </div>

            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <div class="new-button btn float-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new">+New</button>
            </div>
            </form>
            <div id="empTable">
              <table class="table">
                <ng-container>
                  <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Recruiter</th>
                        <th scope="col">Personal Email</th>
                        <th scope="col">LOS/Title/Roll</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let employee of employees">
                      <td [ngModel]="employee.firstname"></td>
                      <td [ngModel]="employee.lastname"></td>
                      <td [ngModel]="employee.recruiter"></td>
                      <td [ngModel]="employee.email"></td>
                      <td [ngModel]="employee.LOS"></td>
                      <td [ngModel]="employee.startdate"></td>
                      <td [ngModel]="employee.status"></td>
                    </tr>
                  </tbody>
                  </ng-container>
              </table>
            </div>
            
            </div>
        
        </div>
      
    </div>
</div>

<!-- Fetching Data From PHP Server Running MySQL -->
<!-- <div ng-app="myApp" ng-controller="customersCtrl">

<table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("customers_mysql.php")
  .then(function (response) {$scope.names = response.data.records;});
});
</script> -->