<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

<app-header></app-header>

<div class="home" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="column">

        <div style="padding: 30px;">    


          <h5>Sort</h5>
            <form class="form-inline">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Most Recent</a>
                  <a class="dropdown-item">First Name</a>
                  <a class="dropdown-item">Last Name</a>
                  <a class="dropdown-item">Recruiter</a>
                  <a class="dropdown-item">LOS/Title/Roll</a>
                  <a class="dropdown-item">Status</a>

                </div>
              </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Detail Page</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-h idden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h4>[INSERT TOPICAL INFO HERE]</h4>
                        <p>Joe Smith joe.smith@gmail.com 314-867-5309</p>
                        <p>8/8 Documents complete</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add New Hire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-h idden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                            Employee Number:<br>
                            <input type="text" name="emplnumber"><br>
                            First name:<br>
                            <input type="text" name="firstname"><br>
                            Last name:<br>
                            <input type="text" name="lastname"><br>
                            Email:<br>
                            <input type="email" name="email"><br>
                            Phone:<br>
                            <input type="tel" name="phone"><br>
                            Date of Birth:<br>
                            <input type="date" name="birthdate"><br>
                            Status:<br>
                            <input type="checkbox" name="status">
                            Complete
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add New</button>
                      </div>
                    </div>
                  </div>
                </div>

            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <div class="new-button btn float-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new">+New</button>
            </div>
            </form>

            <div id="employeeTable">
              <mat-table #table [dataSource]="allEmployees">
                
                <ng-container matColumnDef="employeeID">
                  <mat-header-cell class="employee-list-id" *matHeaderCellDef>Emp ID</mat-header-cell>
                  <mat-cell class="employee-list-id" *matCellDef="let employee"> {{employee.employeeID}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="firstname">
                  <mat-header-cell class="employee-list-firstname" *matHeaderCellDef>First Name</mat-header-cell>
                  <mat-cell class="employee-list-firstname" *matCellDef="let employee"> {{employee.firstname}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastname">
                  <mat-header-cell class="employee-list-lastname" *matHeaderCellDef>Last Name</mat-header-cell>
                  <mat-cell class="employee-list-lastname" *matCellDef="let employee"> {{employee.lastname}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="recruiter">
                  <mat-header-cell class="employee-list-recruiter" *matHeaderCellDef>Recruiter</mat-header-cell>
                  <mat-cell class="employee-list-recruiter" *matCellDef="let employee"> {{employee.recruiter}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="persemail">
                  <mat-header-cell class="employee-list-email" *matHeaderCellDef>Personal Email</mat-header-cell>
                  <mat-cell class="employee-list-email" *matCellDef="let employee"> {{employee.persemail}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="LOS_title">
                  <mat-header-cell class="employee-list-los" *matHeaderCellDef>LOS/Title/Role</mat-header-cell>
                  <mat-cell class="employee-list-los" *matCellDef="let employee"> {{employee.LOS_title}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="startdate">
                  <mat-header-cell class="employee-list-startdate" *matHeaderCellDef>Start Date</mat-header-cell>
                  <mat-cell class="employee-list-startdate" *matCellDef="let employee"> {{employee.startdate}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell class="employee-list-status" *matHeaderCellDef>Status</mat-header-cell>
                  <mat-cell class="employee-list-status" *matCellDef="let employee"> {{employee.status}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="employeeColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: employeeColumns;" (click)="getOneEmployee(row)"></mat-row>
              </mat-table>
            </div>

            <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Hire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-h idden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add New</button>
                  </div>
                </div>
              </div>
            </div>

           
            
            </div>
        
        </div>
      
    </div>
</div>
