

<app-header></app-header>

<!-- <app-badge-form></app-badge-form> -->
<!-- <div style="padding:100px">
<table style="border-style:groove;">
    <th>
        <h3 style="text-decoration: underline;" >Forms</h3>
    </th>
    <tr>
</tr>
</table></div> -->

<table align="center" class="table table-striped" style="padding: 50px; width: 60%;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Form</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="/badgeform">Security Badge Form</a></td>
            <!-- <td><a (click)="navBadgeForm()">Badge Form</a></td> -->
            <!-- <td><a [routerLink]="/badgeform" [state]="{empData: {this.employee}}">Badge Form</a></td> -->
            <td>Incomplete</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="/affirmativeform">Voluntary Affirmative Action Form</a></td>
            <td>Incomplete</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Offer Letter</td>
            <td>Incomplete</td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td>Consultant Agreement</td>
              <td>Incomplete</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Business Card Form</td>
                <td>Incomplete</td>
              </tr>
              <tr>
                  <th scope="row">6</th>
                  <td>Employment Application</td>
                  <td>Incomplete</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Background Investigation Consent Form</td>
                    <td>Incomplete</td>
                  </tr>
                              
        </tbody>
      </table>