<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-header></app-header>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1 style="padding:20px">Np3 New Employee Login</h1>

    <!-- <form onclick="location.href ='home';"> -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" required placeholder="login" [(ngModel)]="credentials.personal_email">
      <input type="password" id="password" class="fadeIn third" name="password" required placeholder="password" [(ngModel)]="credentials.lastname">
      <input type="submit"  (click)="login(credentials)" class="fadeIn fourth" value="Log In">

    </form>

 </div>
</div>
