<!-- 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" /> -->


<!-- <body>
  <div class="home" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex fxLayout="column">
        <div class="bg-img"> -->
          <!-- <h1>
  Access Card Request Form
  </h1>
  <h2>
    This Form Must Be Signed By Authorized Supervisor
  </h2> -->

          <div class="view overlay"></div>
          <img src="badgeform.png" class="img-fluid" alt="badge form image">
          <div class="mask rgba-blue-slight">
            <form>
              <div class="form-group">

                <p class="black-text">
                  Tenant Company Name: Daugherty Systems<br>
                  Building: 3 <br>
                  Suite: 300/400
                  <div class="form-group form-check">
                    New<input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1"
                      aria-label="new badge">
                    Replacement<input class="form-check-input" type="checkbox" id="blankCheckbox" value="option2"
                      aria-label="replacement badge">
                
              </div>
              <!-- <p>The access card allows cardholder access to the CityPlace buildings through the front entrance door, between 6:00pm and 7:00am Monday through Friday and any time on weekends or holidays. The building is unlocked between 7:00 a.m. and 6:00 p.m. Monday through Friday and 8:00 a.m. to 12:00 p.m. on Saturday. 
  </p>
  <p>Use of this access card is soley for the undersigned. Allowing other persons access to the buildings and/or Fitness Center with this access card is strictly prohibited and will result in revocation of same.</p>
  <p>In an effort to provide the best service, the following categores are set up to be utilized iwth the access card. Please fill in the company name, suite number, employee's name. 
  </p> -->

              <form>
                <div class="form-group">
                  <br>
                  Employee Information: <br>
                  Full Name:
                  <input type="text" name="fullname" placeholder="Full Name"><br>
                  Business E-mail Address:
                  <input type="email" name="email" placeholder="Business E-mail"><br>
                  <br>
                  Vehicle Information
                  Color:<input type="text" name="color" placeholder="Color"><br>
                  Make:<input type="text" name="make" placeholder="Make"><br>
                  License Plate #:<input type="text" name="licenceplate" placeholder="License Plate"><br>
                  Model<input type="text" name="model" placeholder="Model"><br>
                </div>

              </form>
          </div>