<!DOCTYPE html>
<html lang="en">

<head>
  <title>Badge Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<br>
<br>
<br>
  <div class="container">
    <div>
      <img src="badgeformheader.png" class="img-fluid" alt="CityPlace and Redico Logos">
    </div>
    <h2>Access Card Request Form</h2>
    <form action="/action_page.php">
      <div>
        <p>The access card allows cardholder access to the CityPlace buildings through the front entrance door,
          between 6:00pm and 7:00am Monday through Friday and any time on weekends or holidays. The building is
          unlocked between 7:00 a.m. and 6:00 p.m. Monday through Friday and 8:00 a.m. to 12:00 p.m. on
          Saturday.
        </p>
        <p>Use of this access card is soley for the undersigned. Allowing other persons access to the buildings
          and/or Fitness Center with this access card is strictly prohibited and will result in revocation of
          same.</p>
        <p>In an effort to provide the best service, the following categores are set up to be utilized iwth the
          access card. Please fill in the company name, suite number, employee's name.
      </div>
      <h3>Tenant Company Name: <u>Daugherty Systems</u></h3>
        <h3>Building:<u>3</u></h3>
        <h3>Suite:<u>300/400</u></h3>
        <br>
      <div class="form-group">
        <label for="fullname">Full Name:</label>
        <input type="text" class="form-control" id="fullname" name="fullname">
      </div>
      <div class="form-group">
        <label for="pwd">Business E-mail:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="vehicleColor">Vehicle Color</label>
        <input type="text" class="form-control" id="vehicleColor" name="vehicleColor">
      </div>
      <div class="form-group">
        <label for="vehicleMake">Make of Vehicle</label>
        <input type="text" class="form-control" id="vehicleMake" name="vehicleMake">
      </div>
      <div class="form-group">
        <label for="vehicleModel">Model of Vehicle</label>
        <input type="text" class="form-control" id="vehicleModel" name="vehicleModel">
      </div>
      <div class="form-group">
        <label for="licensePlate">License Plate</label>
        <input type="text" class="form-control" id="licensePlate" name="licensePlate">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="container">
      <h3>Please X the appropriate access areas the employee will be authorized to use:</h3>
      <h4>Attach fitness waiver forms for fitness center usage</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Elevators After Hours (24/7 Access)</td>
            <td>
              <div class="checkbox active">
                <label><input type="checkbox" checked="checked" value="">Yes</label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <label><input type="checkbox"  value="">No</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Building Entrance 24/7 Access</td>
            <td>
              <div class="checkbox">
                <label><input type="checkbox" checked="checked" value="">Yes</label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <label><input type="checkbox" value="">No</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              HVAC Access
              Charged at hourly rate (after hours use only)
            </td>
            <td>
              <div class="checkbox">
                <label><input type="checkbox" value="">Yes</label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <label><input type="checkbox" checked="checked" value="">No</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
          <label for="authorized">Authorized by:</label>
          <input type="text" class="form-control" id="authorized" name="authorized">
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
            <label for="badgeNumber">Assigned Card Number:</label>
            <input type="number" class="form-control" id="badgeNumber" name="badgeNumber">
            </div>
    </div>
   <h5>In case of emergency the building doors will lock and access cards will be required for building access. Access Cards will NOT be processed without all requested information.</h5>
   <button type="print" class="btn btn-primary btn-block">Print</button>
  </div>
</body>
</html>
<br>
<br>
<br>


<!--OLD CODE FOR FORM-->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

<!-- <router-outlet></router-outlet> -->

<!-- <body>
    <div class="home" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="column"> -->
          <!--
<div>
  <img src="badgeformheader.png" class="img-fluid" alt="badge form image">
</div>

<div class="container">
  <h1>
    Access Card Request Form
  </h1>
  <h2>
    This Form Must Be Signed By Authorized Supervisor
  </h2>
</div>



<form>
  <div class="form-group">

    <p class="accessHeader">
      Tenant Company Name: Daugherty Systems
      Building: 3
      Suite: 300/400
      <div class="form-group form-check">
        New<input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="new badge">
        Replacement<input class="form-check-input" type="checkbox" id="blankCheckbox" value="option2"
          aria-label="replacement badge">

      </div>
      <p>The access card allows cardholder access to the CityPlace buildings through the front entrance door,
        between 6:00pm and 7:00am Monday through Friday and any time on weekends or holidays. The building is
        unlocked between 7:00 a.m. and 6:00 p.m. Monday through Friday and 8:00 a.m. to 12:00 p.m. on
        Saturday.
      </p>
      <p>Use of this access card is soley for the undersigned. Allowing other persons access to the buildings
        and/or Fitness Center with this access card is strictly prohibited and will result in revocation of
        same.</p>
      <p>In an effort to provide the best service, the following categores are set up to be utilized iwth the
        access card. Please fill in the company name, suite number, employee's name.
      </p>

      <form>
        <div class="form-group">
          <br>
          Employee Information: <br>
          Full Name:
          <input type="text" name="fullname" placeholder="Full Name"><br>
          Business E-mail Address:
          <input type="email" name="e-mail" placeholder="Business E-mail"><br>
          <br>
          Vehicle Information
          Color:<input type="text" name="color" placeholder="Color"><br>
          Make:<input type="text" name="make" placeholder="Make"><br>
          License Plate #:<input type="text" name="licenceplate" placeholder="License Plate"><br>
          Model<input type="text" name="model" placeholder="Model"><br>
        </div>

      </form>


  </div>-->